*{
  font-family: 'EB Garamond', serif;
}

body{
  background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.titleContainer{
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  font-size: 30px;
  color: #a37800;
  background-color: rgba(242,243,217, 0.85);
  padding-top: 5px;
  padding-bottom: 5px;
  margin:50px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.headline{
  color: #a37800;
  font-size: 15px;
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  border-bottom: none;
  background-color: rgba(242,243,217, 0.85);
  padding-top: 5px;
  padding-bottom: 0px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px;
  display:flex;
  justify-content: center;
}

.cardSpread{
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  margin:50px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  border-top: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(242,243,217, 0.85);
  padding: 20px;
}

.cardSpread img{
  padding-bottom: 20px;
}

.cardChoice{
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  background-color: rgba(242,243,217, 0.85);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 0px;
  border-top: none;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

#one{
  margin-left: 15px;
}
#two{
  margin-left: -153px;
}
#three{
  margin-left: -153px;
}
#four{
  margin-left: -153px;
}
#five{
  margin-left: -153px;
}
#six{
  margin-left: -153px;
}
#seven{
  margin-left: -153px;
}
#eight{
  margin-left: -153px;
}
#nine{
  margin-left: -153px;
}
#ten{
  margin-left: -153px;
}
#eleven{
  margin-left: -153px;
}
#twelve{
  margin-left: -153px;
}
#thirteen{
  margin-left: -153px;
}
#fourteen{
  margin-left: -153px;
}
#fifteen{
  margin-left: -153px;
}
#sixteen{
  margin-left: -153px;
}
#seventeen{
  margin-left: -153px;
}
#eighteen{
  margin-left: -153px;
}
#nineteen{
  margin-left: -153px;
}
#twenty{
  margin-left: -153px;
}
#twentyone{
  margin-left: -153px;
}
#twentytwo{
  margin-left: -153px;
}

.nextPage {
  font-size: 30px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #a37800;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.nextPage a{
  color: #F2F3D9;
}

.nextPage a:link{
  text-decoration: none;
}

.nextPage:hover{
  background-color: #826000;
}

.about {
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  color: #a37800;
  font-size: 30px;
  box-sizing: border-box;
  background-color: rgba(242,243,217, 0.85);
  padding: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin:50px;
  margin-left: 80px;
  margin-right: 80px;
}

.about a{
  color: #a37800;
}

.cardsPicked{
  box-sizing: border-box;
  border-width: 3px;
  border-color: #a37800;
  border-style: solid;
  background-color: rgba(242,243,217, 0.85);
  padding-top: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
  border-top: none;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right:20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #a37800;;
}

.backtoReading{
  font-size: 30px;
  color: #F2F3D9;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #a37800;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.backtoReading a{
  color: #F2F3D9;
}

.backtoReading a:link{
  text-decoration: none;
}

.backtoReading:hover{
  background-color: #826000;
}

.readCards{
  font-size: 30px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #a37800;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.readCards a{
  color: #F2F3D9;
}

.readCards a:link{
  text-decoration: none;
}

.readCards:hover{
  background-color: #826000;
}

.backtoSpread{
  font-size: 30px;
  color: #F2F3D9;
  margin-top: 30px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #a37800;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.backtoSpread a {
  color: #F2F3D9;
}

.backtoSpread a:link{
  text-decoration: none;
}

.backtoSpread:hover{
  background-color: #826000;
}

#cardone{
  margin: 10px;

}

.cardsPicked img{
    display: block;
  margin-right:auto;
  margin-left: auto;
}

#cardone h1{
  display: flex;
  justify-content: center;
}

#cardtwo{
  margin: 10px;
}

#cardtwo h1{
  display: flex;
  justify-content: center;
}

#cardthree{
  margin: 10px;
}

#cardthree h1{
  display: flex;
  justify-content: center;
}

#past{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#present{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#future{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
